name: build-push-image
on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Log in to Private Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image (tag is the commit SHA)
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/my-image:${{ github.sha }}
      - name: Build and push Docker image (tag is 'latest')
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/my-image:latest
      - name: Change deployment.yaml image tag in other repository namespace-deployment
        run: |
          git clone https://github.com/lennertvandevelde/namespace-deployment.git
          cd namespace-deployment
          sed -i "s|image: ghcr.io/.*/my-image:.*|image: ghcr.io/${{ github.repository_owner }}/my-image:${{ github.sha }}|g" deployment.yaml
          git config --global user.name "github-actions"
          git config --global user.email ${{ github.actor }}@users.noreply.github.com
          git commit -am "Update image tag to ${{ github.sha }}"
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/lennertvandevelde/namespace-deployment.git HEAD:main
      - name: Clean up
        run: |
          rm -rf namespace-deployment
